:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  color: oklch(0.9 0.01 50); /* #e4dcd8 */
  background-color: oklch(0.08 0.01 50); /* #030101 */
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  max-width: 40rem;
  line-height: 1.45;
}

a {
  color: oklch(0.7 0.185 50); /* #f57400 */
}
