:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
  --color-accent: oklch(0.8279 0.1059 50);
  --color-primary: oklch(0.9 0.01 50);
  --color-secondary: oklch(0.08 0.01 50);
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  max-width: 40rem;
  line-height: 1.45;
}

a {
  color: var(--color-accent);
}

code {
  font-family: "Inter Mono", monospace;
}

pre {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  padding: 0.2em 0.7em;
  border-radius: 3px;
  width: 100%;
  overflow: auto;
}
